.load-bot h1{
	text-align: center;
	font-size: 38px
}
.spinner-wrapper{
	width:100%;
	top:0px;
	position: fixed;
	height:100%;
	background:white;
	z-index:2000000000;
}
.spinner{
	position:fixed;
	left:50%;
	right:50%;
	top:50%;
	margin:auto;
	z-index:2000000000;
}
#content{
	margin-top:50px;
	margin-bottom:50px;
}
