/* CSS declarations go here */
.container{
	font-family: 'Roboto Mono';
}
.container h2{
	font-family: 'Roboto Condensed', sans-serif;	
}
.container-fluid{
	font-family: 'Roboto Mono';
}
.container ul{
	list-style-type: none;
}
.info-display #title{
	padding:5px;
	height:80px;
}
.video-ui-main{
	opacity: 0;
	color:white;
	width:100%;
	padding:4px;
}
.video-ui-main #like {
	background:none;
	color:gray;
	border-radius:25px;
	height:50px;
	width:50px;
}
.video-ui-main #expand{
	color:gray;
	background:none;
	height:50px;
	width:50px;
	border-style:none;
}
.main-video:hover .video-ui-main{
	top:20%;
	opacity:1
}
.video-ui-main button{
	width:25%;
	height:50px;
}
.main-video{
	background:#F5F5F5;
	overflow: hidden;
	color:black;
	transition: transform 0.48s, color 0.68s;
	-ms-transition: transform 0.48s, color 0.68s;
   	-webkit-transition: transform 0.48s, color 0.68s;
	padding:5px;
	border-radius: 3px;
	width:100%;
	margin-bottom:5px;
}
.main-video h4{
	color:black;
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
}

.lb-input{
	height:50px;
	width:100%;
	font-size: 18px;
	margin-bottom:10px;
	padding-left: 10px;
	background: #DBDBDB;
	border-style: none;
	border-radius: 4px;	
	transition: background 0.48s;
	-ms-transition: background 0.48s;
   	-webkit-transition: background 0.48s;
}
.lb-input:focus{
	background: #F5F5F5;
}
.add-video{
	font-family: 'Roboto Condensed', sans-serif;	
	font-size: 24px;
	border-style:none;
	border-radius:4px;
	padding-left: 10px;
	padding-right: 10px;
	opacity:0.6;
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
	color:black;
	background:#EDEDED;
	position:absolute;
	margin-left:25px;
	margin-top:50px;
	right:0px;
	transform: translateY(-50px);
	-ms-transform: translateY(-50px);
   	-webkit-transform: translateY(-50px);
}
.main-video-expand{
	position:absolute;
	left:0px;
	height:850px;
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
	background:black;
}
.add-video:hover{
	color:white;
	background:black;
	opacity:1;
}
.lb-button{
	font-size: 24px;
	border-style:none;
	border-radius:4px;
	padding-left: 15px;
	padding-right: 15px;
	width:100%;
}
.lb-button:hover{
	color:black;
	background:#EDEDED;
}
.lb-button-ui{
	height:44px;
	width:44px;
	font-size: 16px;
	border-style:none;
	border-radius:22px;	
	background: rgba(0, 0, 0, 0.4);
	font-family: 'Roboto Mono';
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
	color:#D6D6D6;
	border-style: solid;
	border-width: 2px;
	opacity:0.9;
}
.lb-button-ui:hover{
	color:white;
	background: #FF0000;
	transition: .5s ease;
	-ms-transition: .5s ease;
   	-webkit-transition: .5s ease;
	opacity:1;
}
.lb-button-post{
	opacity:0.8;
	font-size: 14px;
	border-style:none;
	border-radius:3px;	
	background: #C9C9C9;
	font-family: 'Roboto Mono';
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
	color:white;
}
.lb-button-post:hover{
	opacity:1;
	color:white;
	font-weight:bold;
	background: black;
	transition: .5s ease;
	-ms-transition: 0.5s ease;
   	-webkit-transition: 0.5s ease;
}
.video-ui{
	top:-20%;
	position:absolute;
	right:15%;
	transform: translateX(45%);
	-ms-transform: translateX(45%);
   	-webkit-transform: translateX(45%);
	z-index: 99;
	transition: 0.5s ease;
	-ms-transition: 0.5s ease;
   	-webkit-transition: 0.5s ease;
}
.video-ui ul > li{
	padding:2px;
	list-style-type: none;
}
.video-ui:hover{
	position:absolute;
	transition: 0.9s ease;
	-ms-transition: 0.9s ease;
   	-webkit-transition: 0.9s ease;
}

/* Video Container Elements*/ 

.video-container{
	padding:50px;
	margin-top:50px;
	background:black;
	min-height:1800px;
	z-index: 0
}
.video-inner-wrapper{
	width:100%;
}
.video-wrapper{
	height:380px;
	width:380px;
	overflow:hidden;
}
.lb-video{
	padding:15px;
	transition: 0.68s;
	-ms-transition: 0.68s;
   	-webkit-transition: 0.68s;
	margin-bottom:40px;
	position:relative;
	width:100%;
	height:200px;
	z-index: 5
}
.lb-video:hover{
    z-index: 999;
    transition: width 0.48s;
    -ms-transition: width 0.48s;
   	-webkit-transition: width 0.48s;
    transition: 0.48s;
    -ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
    height:250px;
}
#videos div {
	display: inline-block;
}
#videos > p {
	color:white;
	font-family: 'Roboto Mono';
	font-size: 24px;
}

.name{
	font-family: 'Roboto Mono';
	color:white;
}
.post{
	background:#F5F5F5;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:15px;
	border-color:#E8E8E8;
	border-style:solid;
	border-width:1px;
	border-radius:2px;
	padding:5px;
	margin-top:3px;
}
.post-info{
	font-size:11px;
	opacity:0.85;
}
.comment-box{
	border-style:none;
	width: 100%;
	background: #F5F5F5;
	padding:5px;
	margin-bottom:5px;
}
.spinner-wrapper{

	width:100%;
	top:0px;
	position: fixed;
	height:100%;
	background:white;
	z-index:2000000000;
}
.spinner{

	position:fixed;
	left:50%;
	right:50%;
	top:50%;
	margin:auto;
	z-index:2000000000;
}

@media screen and (max-width: 769px) {
	.main-video iframe{
		height:250px;
	}
	.main-video:hover{
		background:#2E2E2E;
		opacity: 1;
		color:white;
	}
	.main-video:hover h4{
		transition: 0.28s;
		-ms-transition: 0.28s;
   		-webkit-transition: 0.28s;
		color:#FFFEED;
		text-shadow: 2px 1px 15px #E6B25A;
	}
	.video-ui-main{
		opacity:1;
		top:20%;
	}
	.videoPage iframe{
		height:250px;
	}
}
@media screen and (min-width: 991px ) and (max-width: 1300px) {
	.main-video iframe{
		height:150px;
	}
	.main-video:hover{
		background:#2E2E2E;
		opacity: 1;
		color:white;
		transform: scale(1.05, 1.05);
		-ms-transform: scale(1.05, 1.05);
   		-webkit-transform: scale(1.05, 1.05);
	}
	.main-video:hover h4{
		transition: 0.28s;
		-ms-transition: 0.28s;
   		-webkit-transition: 0.28s;
		transform: scale(1.13, 1.13);
		-ms-transform: scale(1.13, 1.13);
   		-webkit-transform: scale(1.13, 1.13);
		margin-left:6%;
		color:#FFFEED;
		text-shadow: 2px 1px 15px #E6B25A;
	}
	.videoPage iframe{
		height:500px;
	}
}
@media screen and (min-width: 1301px ) and (max-width: 2800px) {
	.main-video iframe{
		height:200px;
	}
	.main-video:hover{
		background:#2E2E2E;
		opacity: 1;
		color:white;
		transform: scale(1.05, 1.05);
	}
	.main-video:hover h4{
		transition: 0.28s;
		-ms-transition:  0.28s;
   		-webkit-transition:  0.28s;
		transform: scale(1.13, 1.13);
		-ms-transform: scale(1.13, 1.13);
   		-webkit-transform: scale(1.13, 1.13);
		margin-left:6%;
		color:#FFFEED;
		text-shadow: 2px 1px 15px #E6B25A;
	}
	.videoPage iframe{
		height:600px;
	}
}
#add-modal-wrapper{
	display:none;
	max-width:400px;
	width:100%;
	right:0;
	top:50px;
	position: absolute;
	margin: 0 auto;
	z-index:9999;
	background: white;
	padding:10px;
	border-radius: 4px;
	box-shadow: 10px 10px 50px #525252;
}
#add-modal-wrapper button{
	height:50px;
}
.main-video{
	border-style:double;
	border-width: 5px;
	border-color: #D9D9D9;
	border-radius:8px;
}
.likes{
	font-family: font-family: 'Play', sans-serif;
	font-size:11px;
	padding:5px;
	color:#9E9E9E;
	font-weight: 700;
}
.main-video:hover .likes{
	color: #BFBFBF;
}
.closeButton{
	position: absolute;
	right:15px;
	background:none;
	margin-top:10px;
	margin-bottom:10px;	
}
.closeButton{
	background:none;
	padding:10px;
	height:60px;
	width:60px;
	border-style: none
}
.videoPage{
	transition: 0.68s;
	width:100%;
	top:0px;
	position: fixed;
	height:100%;
	background:white;
	z-index:2000000000;
	overflow: auto;
	transform: translateY(100%);
	-ms-transform: translateY(100%);
   	-webkit-transform: translateY(100%);
}
#bars{
	background:none;
	color:#D4D4D4;
	padding:1px;
	width:44px;
	height:44px;
	border-style:solid;
	border-radius: 6px;
	margin-top:6px;
}
.lb-navbar{
	height:60px;
}
.lb-navbar-menu{
	transform: translateY(-20px);
	-ms-transform: translateY(-20px);
   	-webkit-transform: translateY(-20px);
	display:none;
	width:100%;
	background:#242424;
	z-index: 200000000;
	height:100%;
	position:absolute;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
}
.lb-navbar-menu li{
	height:50px;
	padding:10px;
	list-style-type: none;	
}
.lb-navbar-menu ul{
	padding:10px;

}
