/* CSS declarations go here */
#body{
	font-family: 'Roboto Mono';
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
}
button:focus{
	outline:0 !important;
}
button{
	border-style:solid;
}
.container h2{
	font-family: 'Roboto Condensed', sans-serif;
}
.container ul{
	list-style-type: none;
}
.lb-input{
	height:44px;
	width:100%;
	font-size: 18px;
	margin-bottom:10px;
	padding-left: 10px;
	background: #DBDBDB;
	border-style: none;
	border-radius: 4px;	
	transition: background 0.48s;
	-ms-transition: background 0.48s;
   	-webkit-transition: background 0.48s;
}
.lb-input:focus{
	background: #F5F5F5;
	color:black;
}
.lb-button{
	font-size: 24px;
	border-style:none;
	border-radius:4px;
	padding-left: 15px;
	padding-right: 15px;
	width:100%;
}
.lb-button:hover{
	color:black;
	background:#EDEDED;
}
::-webkit-scrollbar { 
    display: none; 
}






