.lb-navbar{
	padding:10px;
	background:#EBEBEB;
}
#menu{
	max-width: 380px;
	width:100%;
}
#toggleSidebar{
	cursor: pointer;
	cursor: hand;
}
.lb-button-ui{
	border-style:none;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
	color:#D6D6D6;
	opacity:0.9;
	cursor: hand;
	cursor: pointer;
}
.lb-button-ui:hover i{
	color:white;
	transition: .5s ease;
	-ms-transition: .5s ease;
   	-webkit-transition: .5s ease;
	opacity:1;
}
.lb-upload{
	height:44px;
}
#videoUploadForm{
	display:none;
	z-index: 9999;
	top:50px;
	position:absolute;
	height:100%;
}
#closeUploadForm{
	position:relative;
	text-align:right;
	padding:0px;
	margin-bottom:5px;
	cursor: pointer;
	cursor: hand
}
#addVideo{
	height:38px;
}