.video-ui{
	opacity: 0;
	color:white;
	width:100%;
	padding-top:30px;
}
.video-ui #vote {
	background:none;
	color:gray;
	border-radius:25px;
	height:50px;
	width:50px;
}
.video-ui .playVideo{
	color:gray;
	background:none;
	height:50px;
	width:50px;
	border-radius: 25px
}
.playVideo:hover i{
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    color:white;
}
.video.card:hover .video-ui{
	top:20%;
	opacity:1
}
.video-ui button{
	width:25%;
	height:50px;
}
.video.card{
	transition: transform 0.48s, color 0.68s;
	-ms-transition: transform 0.48s, color 0.68s;
   	-webkit-transition: transform 0.48s, color 0.68s;
}
.video.card h4{
	color:black;
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
}
.vote button{
	outline:0;
	padding:20px;
}
#vote i{
	position:relative;
	margin: 0 auto;
}
.info{
	padding:15px;
}
#playVideo i{
	position:relative;
	margin: 0 auto;
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
}
.votes{
	font-family: font-family: 'Play', sans-serif;
	font-size:11px;
	color:#9E9E9E;
	font-weight: 700;
}
.video.card:hover .votes{
	color: #BFBFBF;
}
@media screen and (max-width: 769px) {
	.video.card iframe{
		height:250px;
	}
	.video-ui{
		opacity:1;
		top:20%;
	}
	.videoPage iframe{
		height:250px;
	}
}
@media screen and (min-width: 991px ) and (max-width: 1300px) {
	.video.card iframe{
		height:150px;
	}
	.video.card:hover{
		background:#2E2E2E;
		opacity: 1;
		color:white;
		transform: scale(1.05, 1.05);
		-ms-transform: scale(1.05, 1.05);
   		-webkit-transform: scale(1.05, 1.05);
	}
	.video.card:hover .header{
		transition: 0.28s;
		-ms-transition: 0.28s;
   		-webkit-transition: 0.28s;
		transform: scale(1.13, 1.13);
		-ms-transform: scale(1.13, 1.13);
   		-webkit-transform: scale(1.13, 1.13);
		margin-left:6%;
		color:#FFFEED;
		text-shadow: 2px 1px 15px #E6B25A;
	}
	.videoPage iframe{
		height:500px;
	}
}
@media screen and (min-width: 1301px ) and (max-width: 2800px) {
	.video.card iframe{
		height:200px;
	}
	.video.card:hover{
		background:#2E2E2E;
		opacity: 1;
		color:white;
		transform: scale(1.05, 1.05);
	}
	.video.card:hover .header{
		transition: 0.28s;
		-ms-transition:  0.28s;
   		-webkit-transition:  0.28s;
		transform: scale(1.13, 1.13);
		-ms-transform: scale(1.13, 1.13);
   		-webkit-transform: scale(1.13, 1.13);
		margin-left:6%;
		color:#FFFEED;
		text-shadow: 2px 1px 15px #E6B25A;
	}
	.videoPage iframe{
		height:600px;
	}
}
.center{
	margin:0 auto;
	position: absolute;
	top:40%;
}
.video-wrapper-container{
	transition: 0.48s;
	-ms-transition:  0.48s;
	-webkit-transition:  0.48s;
}
.ui.grid{
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
}
.video.card{
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
}