.paragraph{
	display:inline-block;
	margin-bottom:2.5em;
}
.paragraph p{
	font-size: 2.5em;
}
.paragraph .right{
	float:right;
	margin-left:10%;
	margin-bottom:7.5%;
}
.paragraph .right:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.paragraph .left{
	float:left;
	margin-right:10%;
}
.punchline{
	color:#F82262;
	margin-top:1em;
	font-size:8em;
	line-height:1.2em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: Prime;
	margin-bottom:1em;
}
a:link{
	color:#85E0FF;
}
.ui.grid .content{
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}
.ui.vertical.menu{
	width:100%;
}
.ui.segment .content{
	padding:1em;
}
.ui.popup{
	border-style:solid;
	border-width:2px;
	border-color: #F82262;
	color:#F82262;
	background:white;
	padding:0.5em;
	font-weight:300;
	font-family: Prime;
	min-width: 5em;	
}
.ordered.list > div.item{
	font-size:1.2em;
	line-height: 1.5em;
	padding:0.5em;
	opacity:0.9;
}
.ordered.list > div.item:before{
	color:#F82262 !important;
}

.ui.sidebar .menu{
	background:none !important;	
}

@media screen and (max-width: 500px) {
	.sidebar.sidebarWrapper{
		display:none;
	}
	.player{
		height:255px;
	}
	.videoInfo{
		display:none;
	}
	.ui.container{
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.container.fluid{
		padding-top:2em;
	}
	.coverImage{
		min-height:20em;
	}
	.button.vote{
		opacity:1;
	}
	.content.info .header{
		font-size:18px;
	}

}
@media screen and (min-width: 501px ) and (max-width: 800px) {
	.sidebar.sidebarWrapper{
		display:none;
	}
	.player{
		height:25em;
	}
	.ui.container{
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.container.fluid{
		padding-top:2em;
	}
	.coverImage{
		min-height:30em;
	}
	.button.vote{
		opacity:0;
	}
	.content.info .header{
		font-size:12px;
	}
	.videoPage{
		padding:1em;
	}
}
@media screen and (min-width: 801px) and (max-width: 1200px){
	.player{
		height:29em;
	}
	.coverImage{
		min-height:35em;
	}
	.videoPage{
		padding:1em;
	}
}
@media screen and (min-width: 1201px ) {
	#navbarMobile{
		display:none;
	}
	.player{
		height:42.2em;
	}
	.coverImage{
		min-height:45em;
	}
	.container.fluid{
		padding-left:4em;
		padding-right:4em;
		padding-top:1em;
    }
	.button.vote{
		opacity:0;
	}
	.content.info .header{
		font-size:16px;
	}
}


/*/////////////////////

ALL OTHER GLOBAL STYLES

/////////////////////*/

a:focus {outline:0;}

.ui.card{
	border-radius:0;
	box-shadow: 0px 3px 3px 0px #611055, 0px 0px 0px 3px #611055 !important;
}
.ui.modal.login{
	padding:2em;

}
.callToAction{
	height:8em;
	padding:2em;
	border-top: solid 4px #F82262;
	border-bottom: solid 4px #F82262;
	background:#440047;
}
.action.link{
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	transform: translate(-50%, 0%);
	left:50%;
}
.ui.button.tickets{
	border: solid 2px #F82262;
	color:#F82262;
	background:none;
	cursor:pointer;
	cursor:hand;
	padding:0.6em;
	font-family: Prime;
	font-size:1.7em;
	white-space: nowrap;
}
.small.text{
	font-size:1em;
}
#mc_embed_signup{
	margin-top:1.5em;
	margin-bottom:1.5em;
	max-width:43em;
	margin:0 auto;
}
a{
	cursor:hand;
	cursor:pointer;
}
#about .image{
	width:20%;
	min-width:10em;
	border-style:solid;
	border-color:#F82262;
	border-width: 10px;
}
#join img{
	width:100%;
}
#join .image-wrapper{
	width: 60%;
	margin:auto;
}
h2{
	color: #E22663;
	text-align:center;
	font-size:5em;
}
.landing{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-150px, -85px);	
}
.action:hover{
	opacity:0.90;
}
.body{
	min-height:100vh;	
}
#pageContent{
	background:none;
	min-height:100vh;
}
.lb-form{
	max-width:35em;
	margin-left:0 auto;
	margin-right:0 auto;
	width:100%;
}
.lb-form > .header{
	margin-top:0.5em;
	margin-bottom:1em;
	font-size:2em;
	font-family: Prime;
}
.ui.sidebar{
	background:#290F38;
	width:20em;	
}
.sidebarWrapper{
	background:#290F38;
	float:left;
	height:100vh;
	display:inline-block;
	width:15%;
}
.pusher{
	min-height:100vh;
	z-index: 999;
	background:#440047 !important;
}
button:focus{
	outline:0 !important;
}
.icon.button:hover{
	cursor: pointer;
	cursor: hand;
}
button{
	border-style:solid;
}
.square.button{
	border-style:solid;
	border-width:2px;
	border-color: #F82262;
	color:#F82262;
	background:none;
	cursor:pointer;
	cursor:hand;
	padding:0.5em;
	opacity:0.6;
	font-weight:300;
	font-family: Prime;
	min-width: 5em;
}
.square.button.comment{
	font-size:1.5em;
	line-height: 1.5em;
	margin-bottom:1em;
}
#videoList{
	padding-top:1em;
}
#myVideosContainer .item{
	font-weight:300;
	color:#BD0052;
	opacity:1;
	background:#290F38;
	transition:0.3s;
}
#myVideos{
 	padding-top:1em;
	padding-bottom:1em;
}
#myVideosContainer .item:hover{
	opacity:1;
	font-weight:300;
	color:#F82262;
}
.square.button:hover{
	opacity:1;
}
.dark.button{
	border-style:solid;
	border-width:2px;
	border-color: #F82262;
	color:#F82262;
	background:none;
	border-radius:1.25em;
	height:2.5em;
	width:2.5em;
	cursor:pointer;
	cursor:hand;
	padding:0.5em;
	opacity:0.6;
	transition:0.4s;
}
.dark.button:hover{
	opacity:1;
}
#menuStart .ui.inverted.vertical.menu{
	width:100%;
	background:none !important;
}
#menuStart{
	background:#440047 !important;
	padding:0.8em;
	color:#F82262;
	max-width:280px;
	height:100%;
}

#leftNav .sidebarWrapper{
	min-height:120vh;
	background:#290F38;
	height:100%;
	padding-right:0;
}
.rightContent{
	padding-left:0 !important;
}
#menu .sidebarWrapper, .sidebarContent{
	width:100%;
	background:#290F38;
}
#menu{
	background:none;
	width:100%;
}
#myVideosContainer .menu{
	background:none;
}
.admin.icon.float.right:hover{
	opacity: 1;
}
.admin.icon{
	opacity:0;
	transition:0.2s;
	-webkit-transition: 0.2s;
}

.ui.menu.inverted.vertical.fluid .item:hover .admin.icon{
	opacity: 1;
	transform: translateX(0px);
}
.ui.segment.raised.inverted.upload{
	background:#440047;
}
#mainNav .ui.menu.inverted{
	background:#440047;
}
.nav.menu{
	background: none;
	position:relative;
}
.nav{
	width:100%;
	border-bottom-style:solid;
	border-bottom-width:4px;
	border-bottom-color:#611055;
}
.lb-input.small{
	height:30px;
	width:100%;
	font-size: 12px;
	margin-bottom:10px;
	padding-left: 10px;
	background: #DBDBDB;
	border-style: none;
	color:black;
	opacity:0.7;	
	transition: background 0.2s;
	-ms-transition: background 0.2s;
   	-webkit-transition: background 0.2s;
}
.lb-input{
	font-family: Prime;
	height:44px;
	width:100%;
	font-size: 18px;
	margin-bottom:10px;
	padding-left: 10px;
	background: #440047;
	border: solid #611055 2px;
	border-radius: 2px;
	color:#F81C57;
	opacity:0.7;	
	transition: background 0.2s;
	-ms-transition: background 0.2s;
   	-webkit-transition: background 0.2s;
}

.float.right{
	float: right;
}
.float.left{
	float:left;
}
.float.right:after{
	margin:auto;
}
.ui.segment{
	background:none;
}
.header, .item{
	font-family: Prime;
	color: #F82262;
}
#addVideo{
	position:absolute;
	right:0.5em;
	top:0.4em;
}
#myVideos > .header{
	position:absolute;
	left:0;
	padding-left:1em;
}
#myVideos > .ui.menu{
	width:100%;
}
.lb-input:focus{
	background: #611055;
	color:white;
	opacity:0.8;
	outline:0 !important;
}
.ui-box{
	padding-bottom:3em;
}
.ui-box .dark.button{
	width:100%;
}
.text.button{
	border-style:none;
	background:none;
	margin-top:1em;
	opacity: 0.7;
	transition:0.3s;
}
.text.button:hover{
	opacity: 1
}
.ui-box .text.button.left{
	float:left;
}
.ui-box .text.button.right{
	float:right;
}
.brand .image{
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:20px;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	margin-right:0.5em;
}
.brand .image img{
	width:100%;
}
.brand > .header{
	padding-top:0.5em;
	padding-bottom:0.5em;
	display:inline-block;
	font-size:1.5em;
	color:white;
}
.ui-box div{
	margin-top:1.5em;
}
.lb-button{
	font-size: 24px;
	border-style:none;
	border-radius:4px;
	padding-left: 15px;
	padding-right: 15px;
	width:100%;
}
.lb-button:hover{
	color:black;
	background:#EDEDED;
}
.forgotPassword{
	display:none;
	visibility: hidden;
}
.hiddenForm{
	display:none;
}
.lb-button-ui{
	border-style:none;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.48s;
	-ms-transition: 0.48s;
   	-webkit-transition: 0.48s;
	color:#D6D6D6;
	opacity:0.9;
	cursor: hand;
	cursor: pointer;
}
.lb-button-ui:hover i{
	color:white;
	transition: .5s ease;
	-ms-transition: .5s ease;
   	-webkit-transition: .5s ease;
	opacity:1;
}
.popupForm{
	display:none;
	z-index: 9999;
	top:10em;
	position:relative;
	width:100%;
	max-width: 35em;
	margin:auto;
}
#closeUploadForm{
	position:relative;
	text-align:right;
	padding:0px;
	margin-bottom:5px;
	cursor: pointer;
	cursor: hand
}
#login-buttons{
	display: inline-block;
    margin-right: 0.2px;
    line-height: 1;
    width:100%; 
}
.login-link-text{
	color:white;
	transition: 0.4s;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:18px;
}
#login-dropdown-list{
	position:relative;
	font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #cccccc;
    z-index: 1000;
    background: white;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
    height:100%;
    padding-bottom:60px;
    margin-left:5px;
    background:#242424;
    color:white;
    border-color:#636363;
    border-width:2px;
}
.login-form label{
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}
.logo.text{
	color:#F82262;
	width:20em;
	font-family: Prime;
}
.logo{
	padding:15px;
	width:90px;
}
.logo img{
	width:100%;
	height:auto;
}
.updateTitle:focus{
	transition: 0.4s;
	-webkit-transition: 0.4s;
	background:#3B3B3B;
	color:#FFFBF0;
	border-radius: 4px;
	border-style: none;
}
.updateTitle{
	transition: 0.35s;
	-webkit-transition: 0.35s;
	background:#1b1c1d;
	color:#FFFBF0;
	border-radius: 4px;
	border-style: none;
	width:100%;
}
.messageConfirm{
	display:none;
	position: absolute;
	margin-right: 10px;
	right:0px;
}
.info{
	padding:15px;
}
.votes{
	font-family: font-family: 'Play', sans-serif;
	font-size:11px;
	color:#9E9E9E;
	font-weight: 700;
}
.button.vote{
	color:black;
}
.extra.content.vote:hover .button.vote{
	opacity:1;
}
.center{
	margin:0 auto;
	position: absolute;
	top:40%;
}
.banner{
	height:320px;
	width:100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.square.button.vote > i{
	color:#5A0029;
}
.square.button.vote{
	color:#F82262;
}
[data-voted="1"] .votes i{
	color: #F82262;
}
.battleInfo .statistic .label{ 
	font-size:1em;
	opacity: 0.79;
}
.battleInfo .statistic .value{
	font-size:2.2em;
}
.item i{
	padding-right:0.5em;
	margin: 0em 0.35714286em 0.3em 0em !important;
}
.item.info{
	font-size:0.6em;
	background:#290F38 !important;
	color:white;
	border-left-style:solid;
	border-color:#611055;
	border-width: 1px;
}
.ui.statistic .value{
	color:#F82262;
}
.ui.statistic .label{
	color:white;
}
#changeUserNameForm{
	margin-top:0.8em;
	display: none
}
.hidden{
	display:none;
	opacity:1;
	visibility: visible;
}
.battleInfo{
	margin-top:2em;
}


