<template name="admin">
	<div class="ui container fluid">
		<div class="ui segment">

			<h1>Users</h1>

				<table class="ui celled table inverted">
								<thead>
									  <tr>
									    <th>Name</th>
									    <th>Active Player</th>
									    <th>Locaton</th>	
									 		<th>Points</th>									    							    
									    <th></th>
									  </tr>
								</thead>	
								<tbody>	

									{{#each users}}

										    <tr>
										      <td>

										      {{#if profile.name }}

										      	{{ profile.name }}

										      {{else}}

										      	{{ username }}

										      {{/if}}
										      </td>								      
										      <td>

													  <input class="checkbox" data-type="player" data-state="{{ this.player }}" type="checkbox" tabindex="0" {{ player }}>

													</td>
										      <td>{{ profile.location }}</td>
										      <td>{{ pointCount }}</td>									      
										      <td>									      
										      	<div class="ui button red icon">
										      		<i class="trash icon"></i>
										      	</div>
										      </td>
										    </tr>

									{{/each}}

							</tbody>
				</table>

		</div>
	</div>
</template>