<template name="changePassword">

	<form id="changePasswordForm" class="ui segment lb-form">
		<div class="header">Change Password</div>
    <input class="lb-input" name="password" placeholder="New Password" type="password" required/>	
		<input class="lb-input" name="passwordConfirm" placeholder="New Password Confirm" type="password" required/>    
		<button id="changePassword" type="submit" class="square button"><i class="key icon"></i>Change Password</button>    	
	</form>

	<div id="nope" class="ui modal">
		<div class="ui segment negative message">
			<div class="header">Those Passwords don't match... try again.</div>
		</div>
	</div>

	<div id="yep" class="ui modal">
		<div class="ui segment positive message">
			<div class="header">Password changed.</div>
			<div> Please log in with your new password.</div>
			<div class="ui approve button">OK</div>
		</div>
	</div>

</template>