<template name="site">
  <div class="ui sidebar">
    <div class="sidebarContent">
      <div class="ui menu vertical inverted">

        <a href="/" class="item">Home</a>
        <a href="/signup" class="item">Sign Up</a>

      </div>    
    </div>
  </div>
  <div class="pusher">
      <header id="header">

          {{> navbarStatic }}
          {{> navbarMobile }}

      </header>

          {{> forms }}

    	<div id="pageContent">

    	 {{> yield }}

    	</div>   
  </div>
</template>

<template name="app">

  {{#if currentUser }}

    {{> navbar }}
    {{> loadingSpinner }}

  {{else}}

  {{> navbarStatic }}

  {{/if}}

    {{> forms }}

  <div class="ui sidebar">  

      <div class="ui vertical menu inverted">
          <a href="/profile" class="item"><i class="options icon"></i>Profile</a>    
          <a href="/battlers" class="item"><i class="video play icon"></i>Battlers</a>
          <a href="/leaderboard" class="item"><i class="trophy icon"></i>Leaderboard</a>
          <a href="/rules" class="item"><i class="file text icon"></i>Rules</a>
      </div>

  </div>

  <div class="pusher">
  
      {{> navbarMobile }}

    <div id="pageContent">

       {{> yield }}

    </div>   
  </div>

</template>









