<template name="leaderboard">

  <div id="leaderboard" class="ui container">
    <div class="ui grid">

      <div class="two wide column">
        <div class="header">RANK</div>
      </div>

      <div class="ten wide column">
        <div class="header">USERNAME</div>
      </div>
      
      <div class="four wide column">
        <div class="header">POINTS</div>
      </div>

      {{#each user}}

        <div class="two wide column">
          <div class="item">{{index}}</div>
        </div>

        <div class="ten wide column">
          <div class="item">{{username}}</div>
        </div>

        <div class="four wide column">
          <div class="item">{{pointCount}}</div>
        </div>

      {{/each}}

    </div>
  </div>
</template>