<template name="logos">
  <div id="logos" class="ui container fluid">
    <div class="ui equal width grid stackable">
       <div class="column">
        <img src="/img/Ableton.png" alt="Ableton">
       </div>
       <div class="column">
         <img src="/img/CreativeLive.png" alt="Creative Live">
       </div>
       <div class="column">
         <img src="/img/iZotope.png" alt="iZotope">
       </div>
       <div class="column">
         <img src="/img/KeithMcMillen.png" alt="Keith Mcmillen">
       </div>
       <div class="column">
         <img src="/img/Mackie.png" alt="Mackie">
       </div>
    </div>
  </div>
</template>