<template name="navbarStatic">
    <nav id="mainNav" class="nav">
    <div class="ui menu inverted">
      <div class="menu">
        <a href="/" id="brandHeader" class="item brand">

              <div class="image">
                  <img id="avatar" src="img/logo-glad.png">
              </div>

             <div class="header">Laptop Battle</div>
 
        </a>
<!--         <a class="item" href="/videos"><i class="video play icon"></i>Submission Videos</a> -->
      </div>
      <div class="menu right">

          {{ #if player }}

            <a class="item" href="/login"><i class="sign in icon"></i> Log In</a> 

          {{ /if }}   

          <a class="item" href="/signup"><i class="write icon"></i> Sign Up</a>         

      </div>
    </div>
  </nav>
</template>

<template name="navbar">
  <nav id="mainNav" class="nav">
    <div class="ui menu inverted">
      <div class="menu">

        {{ #if currentUser }}
             
        <div id="brandHeader" class="item brand">

              <div class="image icon">
                  <img id="avatar" src="img/logo-glad.png">
              </div>

             <div class="header">Laptop Battle</div>
 
        </div>

        {{ /if }}

        <a href="battles" class="item active"><i class="video play icon"></i>Battlers</a>
        <a href="/profile" class="item"><i class="options icon"></i>{{ signInTitle }}</a>

      {{# if player }}

        <a href="leaderboard" class="item"><i class="trophy icon"></i>Leaderboard</a>
        <a href="rules" class="item"><i class="file text icon"></i>Rules</a>

      {{ /if }}

      </div>

      {{ #if player }}

      <div class="right menu">

        {{> game }}

      </div>

      {{ /if }}

    </div>
  </nav>
</template>

<template name="navbarMobile">
<nav id="navbarMobile" class="nav">

  <div class="ui menu navbar">

      <div class="menu">
        <a href="/" class="logo text"> Laptop Battle</a>
      </div>

      <div class="right menu">

        <a class="item"><i class="icon sidebar"></i></a>

      </div>

  </div>

</nav>
</template>
