<template name="navbarStatic">
    <nav id="mainNav" class="nav">
    <div class="ui menu inverted">
      <div class="menu">
        <a href="/" id="brandHeader" class="item brand">

              <div class="image">
                  <img id="avatar" src="img/logo-glad.png">
              </div>

             <div class="header">Laptop Battle</div>
 
        </a>
<!--         <a class="item" href="/battlers"><i class="video play icon"></i>Battlers</a> -->
      </div>
      <div class="menu right">

          {{ #if player }}

          <a class="item" href="/login"><i class="sign in icon"></i> Log In</a> 

          {{ else }}

<!--           <a class="item" href="/login"><i class="facebook square icon"></i> Log In</a>   -->        
          <a class="item" href="/signup"><i class="write icon"></i> Sign Up</a>   

          {{ /if }} 
      </div>
    </div>
  </nav>
</template>

<template name="navbar">
  <nav id="mainNav" class="nav">
    <div class="ui menu inverted">
      <div class="menu">

        {{ #if currentUser }}
             
        <a href="/" id="brandHeader" class="item brand">

              <div class="image icon">
                  <img id="avatar" src="img/logo-glad.png">
              </div>

             <div class="header">Laptop Battle</div>
 
        </a>

        {{ /if }}

        <a href="battlers" class="item"><i class="video play icon"></i>Battlers</a>

      {{# if player }}

        <a href="leaderboard" class="item"><i class="trophy icon"></i>Leaderboard</a>
        <a href="rules" class="item"><i class="file text icon"></i>Rules</a>
        <a href="/profile" class="item"><i class="options icon"></i>{{ signInTitle }}</a>

      {{ /if }}

      {{ #if admin }}

        <a href="admin" class="item"><i class="setting icon"></i>Admin</a>

      {{ /if }}

      </div>

      <div class="right menu">

        {{ #if player }}

          {{> game }}

        {{ else }}

          <a id="signOut" class="item"><i class="sign out icon"></i> Log Out</a> 
          <a class="item" href="/signup"><i class="write icon"></i> Sign Up</a>       

        {{ /if }}

      </div>

    </div>
  </nav>
</template>

<template name="navbarMobile">
<nav id="navbarMobile" class="nav">

  <div class="ui menu nav">

      <div class="menu">
        <a class="item"><i class="icon sidebar"></i></a>
        <a href="/" id="brandHeader" class="item brand">

              <div class="image">
                  <img id="avatar" src="img/logo-glad.png">
              </div>

             <div class="header">Laptop Battle</div>
 
        </a>
      </div>

  </div>

</nav>
</template>






