<template name="profile">
	<div id="profile" class="ui container">
        <div class="ui segment lb-form darkBackground">

            {{ #if currentUser }}
            
            <div class="ui segment">
              <div class="ui grid">
                 <div class="eight wide column content">
                   
                     <div class="header">{{ username }}</div>

                 </div>
                 <div class="eight wide column content">

                  <button id="profileSettingsButton" data-content="Profile Settings" class="dark button profile" data-target="profile"><i class="settings icon"></i></button>

                 </div>
              </div>
            </div>

            {{> videoSettings }}

            {{ else }}

             <a href="/login" class="square button"><i class="sign in icon"></i>Sign In</a>

            {{ /if }}

        </div>
	</div>
</template>