<template name="rules">
	<div id="rulesPage" class="ui container">
		<div class="content">

			<div id="rules">

					  <div class="header"><h1>Rules for Online Qualifier</h1></div>
						<div class="ui ordered list">

							{{#each data.online}}

								<div class="item">{{ item }}</div>

						  {{/each}}

						</div>

					  <div class="header"><h1>Rules for Seattle Laptop Battle Event, Saturday April 30th</h1></div>
						<div class="ui ordered list">

							{{#each data.live}}

								<div class="item">{{ item }}</div>

						  {{/each}}

						</div>

			</div>
		</div>
	</div>
</template>