<template name="sidebar">  
  <div id="sidebar" class="ui sidebar">  

      <div class="ui vertical menu inverted">
        <a href="/" class="item">Home</a>
        <a href="/qualifiers" class="item"><i class="video play icon"></i>QUALIFIER</a>
        <a href="/leaderboard" class="item"><i class="trophy icon"></i>LEADERBOARD</a>
        <a href="/rules" class="item"><i class="file text icon"></i>RULES</a>
        <a class="item" target="_blank" href="https://squareup.com/store/laptopbattle/item/seattle-laptop-battle-1"><i class="ticket icon"></i>GET TICKETS!</a>
      </div>

  </div>
</template>