<template name="site">

        {{> sidebar }}
  
  <div class="pusher">
      <header id="header">

          {{> navbar }}
          {{> navbarMobile }}

      </header>

          {{> forms }}

      <div class="site-wrapper">
        <div class="site-inner">
      	   <div id="pageContent">

      	     {{> yield }}

      	   </div>
        </div>
      </div>
      
      <footer id="footer" class="footer">
        <div class="content">
        
            {{> logos }}

        </div>

            
    </footer>   
  </div>
</template>