<template name="verify">
  <div class="ui container">
    <div class="ui segment lb-form">

      <div class="header">Verify Your Email</div>

	      <div class="ui message">
	      
	      	<p id="message">An email has been sent to you with a verification link. Please click the link in your email to verify your account.</p>

	      </div>

    </div>
  </div>
</template>

<template name="emailVerified">
  <div class="ui container">
    <div class="ui segment lb-form">

      <div class="header">Email Verified!</div>

	      <div class="ui message">
	      
	      	<p id="message">Your email has been verified and your account has been created. Thanks for signing up!</p>

	      	<a href="/login" class="square button">GO TO THE LOGIN</a>

	      </div>

    </div>
  </div>
</template>