<template name="createAccount">
  <div class="ui container">
    <div class="ui segment lb-form">

      <div class="header">Create Account</div>

    	<form id="createAccountForm" method="post">
    		<input class="lb-input" type="text" placeholder="User Name" name="username" required>
        <input class="lb-input" type="password" placeholder="Password" name="password" required>
        <input class="lb-input" type="email" placeholder="E-mail" name="email" required>
        <input class="lb-input" type="text" placeholder="Age" name="age" required>
        <input class="lb-input" type="text" placeholder="Location" name="location" required>

    		<button id="accountSubmit" class="square button">SUBMIT</button>
    	</form>

    </div>
  </div>
</template>



