<template name="login">
	<div class="ui segment lb-form">
	    <div class="header">Login</div>     
        <form id="loginForm">
          
          <input placeholder="e-mail" class="lb-input email" type="email">
          <input placeholder="password" class="lb-input password" type="password">
          <button class="square button login"><i class="sign in icon"></i>GO!</button>
          <button id="signup" class="square button"><i class="write icon"></i>Sign Up</button>
          <button id="facebookLoginButton" class="square button"><i class="facebook square icon"></i>Login with Facebook</button>
          
        </form>
	</div>
</template>